doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title= htmlWebpackPlugin.options.title
        link(rel='shortcut icon' href=require('./favicon.ico'))
    body
        #root